body{
    background-image: url('../public/images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -80px;
}

.App{
    width: 800px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-55%);
    border-radius: 40px;
    background-color: rgb(177,201,203);
}

.App .Logo{
    width: 700px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -250px;
    animation: FloatAnimate linear infinite 3s;
}

@keyframes FloatAnimate {
    0%{
        top: -250px;
    }
    50%{
        top: -260px;
    }
    100%{
        top: -250px;
    }
}